body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}

p {
    color: hsl(210, 10%, 33%);
}

main {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

img[src="images/logo.svg"] {
    margin-top: 5em;
    margin-bottom: 2em;
}

#box-2 {
    margin-top: 6em;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-items {
    grid-column: 2;
}

.grid-styling-1 {
    font-size: 16px;

}

img[src="images/image-computer.png"] {
    grid-row: 1 / span 3;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-styling-2 {
    font-size: 16px;
    text-align: center;
}

#box-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    color: white;
    font-weight: 600;
    border-radius: 35px;
    border: none;
    padding: 1em 1.5em 1em 1.5em;
    margin: 1.5em 0.5em;
}

.ios {
    background-color: hsl(171, 66%, 44%);
}

.ios:hover {
    cursor: pointer;
    background-color: hsl(171, 67%, 57%);
}

.mac {
    background-color: hsl(233, 100%, 69%);
}

.mac:hover {
    cursor: pointer;
    background-color: hsl(233, 85%, 74%);
}

footer {
    background-color: rgb(240, 240, 245);
}